html {
  height: 100%;
  width: 100%;
}
.body{
  blackground-color: #00b3ff 
  }
 p{
   color: #00b3ff 
  font-size: 80px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode'
  justify-content: center;
  display: flex;
}
.conten1 img{ 
 height: 100px;
 }

}
.conten1 img{ 
height: 100px;
}
.pastel}
align-items: center;
justify-content: center;
display: